.header {
    background: #e2dcdc;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #917960;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}